:root{
	--body: #0f1419;
	--nav: #14191f;
	--text: #c5c5c5;
	--seperator: #c5c5c562;
	--primary-highlight: #33a4c0;
	--primary-transparent: #33a4c08c;
	--primary-dim: #266575;
}

body{
	background-color: var(--body);
	color: var(--text);
	margin: 0;
	position: relative;
	padding: 0;
	scrollbar-color: #5c6773 transparent;
	font-family: "Fira Sans",sans-serif;
}
nav{
	background-color: var(--nav);
}
#content{
	padding: 10px;
}
a{
	color: var(--primary-highlight);
	text-decoration: none;
}