.law-title{
	color: var(--primary-highlight);
	font-size: 18px;
	font-weight:bold;
	text-transform: capitalize;
}
.law-status{
	font-size: 18px;
}
.law-info{
	margin-left: 50px;
	margin-bottom: 20px;
}
#laws-box{
	margin-top:20px;
}
.ping{
	background-color: var(--primary-transparent);
	color: white;
	border-radius: 2px;
	padding:0 2px;
}